/* on narrow device, reduce margins */
@media (min-width: 940px) {
    .franklin-content {
        width: 100%;}
    }

@media (min-width: 1024px) {
    .franklin-content {
        width: 80%;
        padding-left: 12.5%;
        padding-right: 7%;
    }
}

pre {
    font-size: 17px;
}

.franklin-content code {
    font-size: 70%;
}

.franklin-content .hljs {
    text-align: left;
    font-size: 90%;
    color:rgba(223, 208, 208, 0.87);
    background:rgba(255, 255, 255, 0.041);
    display:inherit
}
.franklin-content .hljs-keyword{
    color: red;
}
.franklin-content .hljs-number{
    color: rgb(46, 104, 212);
}
.franklin-content .hljs-built_in{
    color: rgba(255, 230, 0, 0.849);
}
blockquote {
    font-size: 90%;
}

.fndef-content {
    line-height: 1.5em;
}
