<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>Arsh Sharma</title>  {{end}}
</head>
<body>
{{insert sidebar.html}}
<nav>
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/assets/ResumeAug20_ArshSharma.pdf">Resume</a></li>
      <li><a href="/pages/julia/index.html">Julia notes</a></li>
      <!-- <li><a href="/pub/misc.html">Misc.</a></li> -->
  </ul>
</nav>

<!-- Content appended here -->
